*.class
/HidraClientPrototype/nbproject/private/
/HidraRepositoryPrototype/nbproject/private/
/HidraRepositoryPrototype/build/
/HidraRepositoryPrototype/dist/
/HidraClientPrototypeOld/nbproject/private/
/HidraPrototype/nbproject/private/
/Hidra/build/
/Hidra/dist/
/HidraPrototype/build/
/HidraPrototype/dist/
/Hidra/target/
