<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HIDRA</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">hidra</property>
   
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--Propriedade utilizada para exibir no terminal o SQL sendo executado-->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <mapping class="ledes.hidra.asset.Asset"/>
        <mapping class="ledes.hidra.asset.ProfileType"/>
        <mapping class="ledes.hidra.asset.RelatedAssets"/>
        <mapping class="ledes.hidra.asset.RelatedAssetType"/>
        <mapping class="ledes.hidra.asset.ArtifactType"/>
        <mapping class="ledes.hidra.asset.Context"/>
        <mapping class="ledes.hidra.asset.ClassificationType"/>
        <mapping class="ledes.hidra.asset.DescriptionGroup"/>
        <mapping class="ledes.hidra.asset.VariabilityPointBinding"/>
        <mapping class="ledes.hidra.asset.Activity"/>
        <mapping class="ledes.hidra.asset.ContextReference"/>
        <mapping class="ledes.hidra.asset.ArtifactActivy"/>
        <mapping class="ledes.hidra.asset.UsageType"/>
    </session-factory>
</hibernate-configuration>
